---
group: home
---
<!DOCTYPE HTML>
<html>
	<head>
		<title>Keedy Lab | Advanced Science Research Center</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
		{% include favicon.html %}
	</head>
	<body>

		<!-- Header -->
		{% include header.html %}

		<!-- Image Slider -->

		{% include slider.html %}

		<!-- Boxes under Multi-Image Slider -->
		{% include content_box.html %}

		<!-- Footer -->
		{% include footer.html %}

	</body>
</html>
