<section id="one" class="home-wrapper style2">
    <div class="home__background-image">
        <div class="home-padding">
    <div class="inner">
      <div class="grid-style">
        {% for content in site.data.contentbox %}
          <div class="HomepageBox">
              <div class="homeBox">
                  <span class="image fit imgfit"><img src="{{content.image}}" alt="" /></span>
              </div>
              <div class="content">
                  <header class="align-center">

                      <center><h2>{{content.title}}</h2>

                          <span class="links"><p>{{content.content}}</p></span>

                      </center>
                  </header>
              </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
</header>
</div>
</div>
</section>
