            <footer id="footer">
                <div class="copyright">
                    &copy; Keedy Lab at CUNY Advanced Science Research Center, 2018.
                </div>
            </footer>

        <!-- Scripts -->
            <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
            <script src="{{site.baseurl}}/assets/js/jquery.scrollex.min.js"></script>
            <script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
            <script src="{{site.baseurl}}/assets/js/util.js"></script>
            <script src="{{site.baseurl}}/assets/js/main.js"></script>