<footer id="footer">
    <div class="copyright">
        Keedy Lab at CUNY Advanced Science Research Center<br>
        This website is open-source and available on <a href="https://github.com/keedylab/keedylab.github.io">GitHub</a>
    </div>
</footer>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<script>
                    let navLinks = document.querySelector('.navNarrow');
                    let narrowLinks = document.querySelector('.narrowLinks');

                    navLinks.addEventListener('click', toggle);

                    function toggle() {
                        narrowLinks.classList.toggle('hidden');
                    };
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121627139-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121627139-1');
</script>
