        <!-- Header -->
            <header id="header" class="alt">
                <div class="logo"><a href="index.html"><img src="images/keedy-lab-logo.png"></a></div>
                <a href="#menu">Menu</a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Members</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Private</a></li>
                </ul>
            </nav>