---
layout: pages
title: Keedy Lab Members
group: members
heading:
bgimage: ../../images/keedyasrc.jpg
---

{% for person in site.data.members %}

<div class="row">
    <div class="3u 12u$(small)">
        <span class="image fit"><img src="{{person.image}}" alt=""></span>
        <br>
        <strong>{{person.name}}</strong><br>
        {{person.position}}<br>
        <em>{{person.email}}</em><br>
        {% if person.orcid %}
          <a href="http://orcid.org"><img class="inline-block" src="/images/orcid_logo.png"></a>
          <a id="links" href="http://{{person.orcid}}"> {{person.orcid}}</a> <br>
        {% endif %}
        {% if person.scholar %}
          <a id="links" href= "http://scholar.google.com/citations?user={{person.scholar}}"> Scholar Citations </a> <br>
        {% endif %}
        {% if person.twitter %}
          <a id="links" href= "http://twitter.com/{{person.twitter}}"> @{{person.twitter}} </a> <br>
        {% endif %}
    </div>

    <div class="8u$ 12u$(small)">
        {{person.description | markdownify}}
    </div>

</div>
<hr>
{% endfor %}


<!-- <header class="align-center">
    <h2>Keedy Lab Alumni</h2>
</header>
 -->