---
layout: pages
title: Publications
group: publications
heading: 
bgimage: /images/catalase_alt_netwk_tall_bg_header.jpg
---
{::nomarkdown}
{% for publication in site.data.publications | sort: "date" %}
           <!--  <div class="content"> -->
                <header class="align-center">
                    <h2>{{ publication.citation | markdownify }}</h2>
                </header>
                    <div class="row">
                        <div class="6u 12u$(small)">
                            <span class="image fit imgfit" id="image2"><img src="{{publication.image}}"></span>
                        </div>
                        <div class="6u$ 12u$(small)">

                            <!-- <div id="textpadding"> --><strong>Access Paper:</strong><!-- </div> -->
                            <ul>
                                <!--PMID-->
                                <li><strong>PMID</strong>: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt = "pubmed link: {{publication.pmid}}"> {{publication.pmid}}</a></li>
                                
                                <!--PMCID - optional -->
                                {% if publication.pmcid %}
                                <li><strong>PMCID</strong>: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{publication.pmcid}}" alt = "pubmed central link: {{publication.pmcid}}"> {{publication.pmcid}}</a></li>
                                {% endif %}
                                
                                <!--Biorxiv - optional -->
                                {% if publication.biorxiv %}
                                <li><strong>Biorxiv Preprint</strong>: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" alt = "biorxiv prepring link: {{publication.pmcid}}"> {{publication.biorxiv}}</a></li>
                                {% endif %}
                                
                                <!-- PDF -->
                                <li><a href="{{publication.pdf}}" alt = "PDF"> Full Text</a></li>

                                <!-- Datasets - optional -->
                                {% if publication.data %}
                                <li><strong>Online Dataset</strong>: 
                                    {% if publication.data.size > 1 %}
                                    <ul>
                                        {% for dataset in publication.data %}
                                        <li><a href="http://dx.doi.org/{{dataset}}" alt = "sbgrid data repository">doi:{{dataset}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <a href="http://dx.doi.org/{{publication.data}}" alt = "sbgrid data repository">doi:{{publication.data}}</a>
                                    {% endif %}
                                </li>
                                {% endif %}
                                
                                <!--PDBS - optional-->
                                {% if publication.pdbs %}
                                <li><strong>Deposited Structure{% if publication.pdbs.size > 1 %}s</strong>{% endif %}: 
                                    {% for code in publication.pdbs %}
                                    <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{code}}">{{code}}</a>{% unless forloop.last %}, {% endunless %}
                                    {% endfor %}
                                </li>
                                {% endif %}
                                
                        <!--Extra junk-->
                        <div id="textpadding"><strong>Additional Links:</strong></div>
                        {% for link in publication.links %}
                        <li><a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
    </div>
<hr>
{% endfor %}
{:/}

### For Dr. Keedy's full publication list, see [his Google Scholar profile](https://scholar.google.com/citations?user=TVaqcVwAAAAJ&hl=en).